
.timeline-list {
  padding-top: 1em;

  .item {
    padding-left: 1.2em;
    position: relative;

    .item-inner {
      border-bottom: none;
      padding-top: 0.4em;
      padding-left: 0.8em;
      border-left: 1px solid var(--ion-color-primary);
      border-bottom: 1px solid var(--ion-color-light-shade);

      .item-header-img {
        position: absolute;
        top: 0;
        left: 0.3em;

        .profile-picture {
          width: 2em;
          height: 2em;
        }
      }

      .post-author {
        margin-left: 0.5em;
      }

      .post-time {
        position: absolute;
        top: 0.5em;
        right: 1.5em;
      }

      .post-content {
        margin-top: 1em;
        padding-bottom: 1em;
        font-size: 0.8em;
      }
    }
  }
}


