<!--
  Generated template for the WallPostsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mural</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Eventos</ion-card-title>
      <ion-card-subtitle>Fique por dentro do que vai ocorrer na semana</ion-card-subtitle>
    </ion-card-header>
    
        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="calendar-outline" color="primary"></ion-icon>
          <ion-text>
            Entrevista com Mark Zuckerberg
            <br>
            <span style="font-size: small;">Quinta - 04/03/2021 19:00</span>
          </ion-text>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon icon="notifications-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="calendar-outline" color="primary"></ion-icon>
          <ion-text>Entrevista com Jeff Bezos
            <br>
            <span style="font-size: small;">Sexta - 05/03/2021 19:00</span>
          </ion-text>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon icon="notifications-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="calendar-outline" color="primary"></ion-icon>
          <ion-text>Entrevista com Elon Musk
            <br>
            <span style="font-size: small;">Sábado - 06/03/2021 19:00</span>
          </ion-text>
          
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon icon="notifications-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <br>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Grupos e Comunidades</ion-card-title>
      <ion-card-subtitle>Participe dos nossos grupos e fique informado sobre as novidades</ion-card-subtitle>
    </ion-card-header>
    
        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="people-outline" color="primary"></ion-icon>
          <ion-text>
            Mercado Financeiro
          </ion-text>
          <ion-buttons (click)="toCommunity()" slot="end">
            <ion-button>
              <ion-icon icon="log-in-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="people-outline" color="primary"></ion-icon>
          <ion-text>
            Esportes
          </ion-text>
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon icon="log-in-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none" style="padding-top: 10px; padding-bottom: 10px;">
          <ion-icon slot="start" item-left name="people-outline" color="primary"></ion-icon>
          <ion-text>Entrevista com Elon Musk
          </ion-text>
          
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon icon="log-in-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <br>
  </ion-card>
</ion-content>
 
